.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .navbar-toggler {
    background-color: #d53434;
  }
  
  .nav-link {
    color: #dc3939;
    font-size: 1.2rem;
    margin-right: 1rem;
    text-transform: uppercase;
  }
  
  .nav-link:hover {
    color: #c43838;
  }